 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 25%;
    background-color: rgba(2, 117, 216, 1);
    padding: 60px;
    border-radius: 15px;
    margin-top: 13%;
}
h1{
    background-color:  rgba(2, 117, 216, 1);
    text-align: center;
    padding : 50px;
}
 h2{
    color: #ffffff;
    text-align: center;
}
.mail, .pass{
    color: #ffffff;
}

.bouton{
margin-left: 29%;
}